[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christine (chylaudes)
[access "refs/for/refs/*"]
	read = group user/Christine (chylaudes)
	push = group user/Christine (chylaudes)
	label-Code-Review = -2..+2 group user/Christine (chylaudes)
	label-Verified = -1..+1 group user/Christine (chylaudes)
	rebase = group user/Christine (chylaudes)
	removeReviewer = group user/Christine (chylaudes)
	submit = group user/Christine (chylaudes)
[access "refs/heads/*"]
	read = group user/Christine (chylaudes)
	create = group user/Christine (chylaudes)
	push = +force group user/Christine (chylaudes)
	pushMerge = group user/Christine (chylaudes)
[access "refs/tags/*"]
	push = +force group user/Christine (chylaudes)
	pushTag = group user/Christine (chylaudes)
	pushSignedTag = group user/Christine (chylaudes)
